<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Please choose a chapter and products you like</h2>
<div class="container">
  <div class="column left" id="chapter-list">
    <ul class="chapter">
      <li *ngFor="let chapter of chapters"
          [class.selected]="chapter === selectedChapter"
          (click)="onSelectChapter(chapter)"
          title="{{chapter.title}}">
        <span class="badge">*</span>{{chapter.name}}
      </li>
    </ul>
  </div>
  <div class="column right" id="product-list">
    <table *ngIf="selectedChapter">
      <tr *ngFor="let product of selectedProducts">
        <td>
          <div class="column left">
            <img src="../assets/img/{{selectedChapter.id}}/{{product.id}}.jpg" alt="{{product.label}}" width="100px" height="100px">
          </div>

          <div class="column right">
            {{product.label}}
            <div>
              <span (click)="decreaseProduct(product.id, $index)" class="order-button red">&thinsp;+&thinsp;</span>
              <input type="text" [(ngModel)]="order[selectedChapter.id][product.id]" placeholder="Count">
              <span (click)="increaseProduct(product.id, $index)" class="order-button green">&thinsp;+&thinsp;</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
